body {

  margin: 0;
  text-align: center;

}

h1{
  font-size: 3.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
font-family: sans-serif;
}

h2{
  font-size: 2.5rem;
  color: #66BFBF;
}

hr{
  color: #EAF6F6;
}


.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}



.first-p{
  font-size: 1.5rem;
  color: #66BFBF;
  font-weight: normal;
}

.dev{
  text-decoration: underline;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #dfd3c3;
  border-width: 5px;
  width: 5%;
}


.btn{
    box-shadow: inset 0 1px 1px 0 #bbdaf7;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color: #79bbff;
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #528ecc;
}

.footer-link{
  color: #11999E;
  font-weight: normal;
  font-size: 1.15rem;
  font-family:  sans-serif;
}

.bottom-container{
  background-color: #66BFBF;
position: relative;
padding-bottom: 40px;
padding-top: 40px;
}

.rights{
  color: #EAF6F6;
}

.mesaj-de-intampinare {
  position: relative;
  left: 35%;
width: 29%;
text-align: center;
font-family: 'Montserrat', sans-serif;
color: #40514E;

}

.top-container {
  background-color: #cedebd;
position: relative;
padding-top: 100px;

}

.top-cloud {
  position: absolute;
  right: 420px;
  top: 20px;
}

.buttom-cloud{
  position: absolute;
  bottom: 300px;
}

.poza-profil {
  position: relative;
  top: 30px;
  vertical-align: middle;
  width: 10%;
}

.design{
float: left;
width: 30%;
margin-right: 30px;
}

.coding{
  width: 20%;
  float: right;
  margin-left: 30px;
}

.ultima-poza {
position: absolute;
right: 45%;
width: 20px;
height: 20px;

}
